<div class="well">
  	<h4 class="text-default">
  		<div class="pull-right">
  			<button class="btn btn-info" ng-click="showUser(friendRequest.Id)">
  				<i class="fa fa-user"></i>
  			</button> 
	      	<button class="left-padding btn btn-success" ng-click="acceptFriendRequest(friendRequest.Id)">
	      		<i class="fa fa-user-plus"></i>
	      	</button>
	      	<button class="left-padding btn btn-danger" ng-click="rejectFriendRequest(friendRequest.Id)">
	      		<i class="fa fa-user-times"></i>
	      	</button>
      	</div>
      	{{friendRequest.Username}}
  	</h4>
</div>