<div ng-show="!noTasks">
    <button class="btn btn-success pull-right" ng-click="createTask()">
        Add <i class="fa fa-plus"></i>
    </button>
    <div ng-show="myTasksChunks[0].length > 0">
        <h3>
            My tasks 
        </h3>
        <div class="row" ng-repeat="myTasksChunk in myTasksChunks">
            <div class="col-md-4" task-directive ng-repeat="task in myTasksChunk"></div>
        </div>
    </div>

    <div ng-show="otherTasksChunks[0].length > 0">
        <h3>Other tasks</h3>
        <div class="row" ng-repeat="otherTasksChunk in otherTasksChunks">
            <div class="col-md-4" task-directive ng-repeat="task in otherTasksChunk"></div>
        </div>
    </div>
</div>
<div class="alert alert-info" ng-show="noTasks">
    {{noTasksMessage}}
    <button class="btn btn-success pull-right" ng-click="createTask()">
        Add <i class="fa fa-plus"></i>
    </button>
</div>