<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <h5 ng-show="showWeather">Current weather conditions {{weather}}</h5>
		<div class="panel panel-default">
		    <div class="panel-body">
		        <input class="input-sm" ng-model="task.Name" type="text" placeholder="Name" />
		        <input class="input-sm" ng-model="task.Description" type="text" placeholder="Description" />
		        <br>
		        <div class="row">
		            <div class="col-md-6">
		                <h5>Users in task</h5>
		                <input class="input-sm empty" placeholder="&#xF002;" type="text" ng-model="searchFriendInTask.Username"/>
		                <br>
		                <table class="table">
		                    <tbody>
		                        <tr ng-repeat="friend in friendsInTask | filter: searchFriendInTask">
		                            <td>
		                                {{friend.Username}} 
		                                <button class="btn btn-sm btn-danger pull-right" ng-click="removeFriendFromTask(friend)">
		                                    <i class="fa fa-minus"></i>
		                                </button>
		                            </td>
		                        </tr>
		                    </tbody>
		                </table>
		            </div>
		            <div class="col-md-6">
		                <h5>Add user in task</h5>
		                <input class="input-sm empty" placeholder="&#xF002;" type="text" ng-model="searchFriend.Username"/>
		                <br>
		                <table class="table">
		                    <tbody>
		                        <tr ng-repeat="friend in friendsNotInTask | filter: searchFriend">
		                            <td>
		                                {{friend.Username}} 
		                                <button class="btn btn-sm btn-success pull-right" ng-click="addFriendInTask(friend)">
		                                    <i class="fa fa-plus"></i>
		                                </button>
		                            </td>
		                        </tr>
		                    </tbody>
		                </table>
		            </div>
		        </div>
		        <br />
		    </div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="save()" class="btn btn-primary">OK</button>
        <button type="button" ng-click="cancel()" class="btn">Cancel</button>
      </div>
    </div>
  </div>
</div>
